
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
</head>
<body>
    <div style="padding-left: 20%; padding-top: 30px">
        <a href="/Home/Index"><h3>back to home</h3> </a>
        <h2>Congratulations @Session["name"] your seat booking successful</h2>
        <img src="~/picture/congratulation.jpg"  width="700" height="400">
    </div>
</body>
</html>
